@model WebApplication1.Models.managerModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OptionLinkChange</title>
</head>
<body>
    <div> 
        <form method="post">
        @Html.Label("連結名稱:", new { @class = "tittleLab", @text = "123" })
        <br />
        @Html.EditorFor(model => model.OptionLinkName_p, new { @class = "ddl" })
        <br />
        @Html.Label("連結網址:", new { @class = "tittleLab" })
        <br />
        @Html.EditorFor(model => model.OptionLinkweb_p, new { @class = "ddl" })
        <br />
        @Html.Label("圖片:", new { @class = "tittleLab" })
        <br>
        <iframe src="/manager/OptionAddressMapUp" height="300" width="600" frameborder="0" scrolling="yes"></iframe>
        <div>
            <input type="submit" value="送出" id="butsur" />
            <input type="button" onclick="history.back()" id="butcannel" value="取消">
        </div>
            </form>
    </div>
</body>
</html>
