@model WebApplication1.Models.managerModel
@{
    ViewBag.Title = "福康關懷協會";
    var notice = ViewBag.noticeTitle;

    var link = ViewBag.link;

    
}
@* <a class="notice-text">志工</a>&nbsp &nbsp
    @Html.ActionLink("公告項目................", "null")*@
<link href="/img/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet" />
<script>
    $(document).ready(function () {

        $('.display').edslider({
            width: '600',
            height: '400'
        });
        $(".fancybox_group_x").fancybox();
    });
</script>

@if (TempData["message"] != null)
{
    <script type="text/javascript">
        
        alert('@TempData["message"]');
    </script>
}
<!--jumbotrondj框框區--->
<style>
    body {
    margin:0px;
    }
    </style>

<div class="test">
    <ul class="display">
        @if (ViewBag.headTurnImg != null)
        {
            foreach (var i in ViewBag.headTurnImg)
            {
                if (i == null)
                {
                    break;
                }
                <li class="outimg"><img src="~/img/turn/@i" class="DisplayImgSize" /></li>
            }
        }

    </ul>
</div>
<br>
<br>
<br>
<br />
<div class="context">
    <h2>最新消息</h2><div class="notice-more">@Html.ActionLink("more", "Prefecture", new { page = 1})</div>
    <div class="notice">
        @foreach (string[] obj in notice)
        {
            if (obj[0] != null && obj[0]!="")
            {
               <div> 
                   <a class="notice-text">@obj[0]</a>&nbsp &nbsp
                    @Html.ActionLink(obj[1], "NoticeContent", new { name = obj[1] }, new { @class = "noticeTitle" })
                </div>
            }
        }
    </div>
    <H2 class="link-title">相關連結</H2><div class="link-more">@Html.ActionLink("more", "link","Home")</div>
    <div class="link">
        @foreach (string[] obj in link)
        {
                <a href="http://@obj[1]"><img src="~/img/link/@obj[0]" class="link-img" /></a>
        }
     </div>
    <H2 class="album-title">活動相簿</H2><div class="album-more">@Html.ActionLink("more", "EventAlbum", new { page=1})</div>
    <div class="album-link">
        <!-- ajaxでクリックのあと拡大する-->
        @foreach (string obj in ViewBag.albumImg)
        {
        <a title="" class="fancybox_group_x" data-fancybox-group="gallery" href="~/album/@obj">
            <img alt="test" src="~/album/@obj" class="album-img" />
        </a>
        
        }
    </div>
</div>